/* * {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  scroll-padding-top: 2rem;
} */
body{
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  background-color: #1b182b;
  color: #e8e8e8;

}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding:1.2rem 0.8rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1b182b;
}
.logo{
  font-size: 1.4rem;
  font-weight: 600;
  color: #e8e8e8;
  text-decoration: none;

}
.logo span{
  color: #fa5353;
}
.icons{
  display: flex;
}
.icon-container{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #21232b;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
  cursor: pointer;
}
.bars{
  font-size: 20px;
}
.bell{
  position:relative
}
.bell-circle{
  width: 8px;
  height: 8px;
  background-color: #fa5353;
  border-radius: 50%;
  position: absolute;
  top: 1.5rem;
  right:10.5rem;
}
.items{
  display: none;
}
.active{
  display: block;
  width: 100%;
}
.unordered{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
  height: 100vh;
  clip-path: circle(0% at 100% 0%);
  text-decoration: none;}
.unordered img{
  width: 500px ;
  height: 500px;
  flex-basis: 50%;
}
.unorderedlist{
  
}

.notificationContainer{
  display: relative;
}
.notificationdropdown{
  position: absolute;
  top: 4rem;
  right:5rem;
  width:20rem;
  border-radius: 10px;
 background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(./images/f2.jpg) no-repeat;
background-position: center;
background-size: cover;
object-fit: cover;
display: flex;
flex-direction: column;
gap: 1.5rem;
padding: 1rem;
}
.message{
  background-color: #1b182b;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  color: #e8e8e8;
}
.declined, .check{
  font-size: 13px;
  margin-right: 1.5rem;
}
.declined{
  color: red;
}
.check{
  color: #faf182;
}
.homeContainer{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  width: 97%;
  height: 500px;
  background: url(./images/c2.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  border-radius: 25px;
  margin-top: 5rem;
}
.homeimagewords{
  text-transform: uppercase;
  margin-right: 100px;
  
}
.homeimagewords h1{
  margin: 0;
}
.homeContainer button{
  padding: 0.8rem;
  background-color: #fa5353;
  border-radius: 15px;
  outline: none;
  border: none;
  text-align: center;
  text-transform: uppercase;
  color: #e8e8e8;
  font-size: 1rem;
  line-height: 1.5;
  cursor: pointer;
}
.homeContainer button:hover{
  background-color: transparent;
}
.trendsheader{
  display: flex;
  text-align: center;
  align-items: center;
}