body{
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  background-color: #1b182b;
  color: #e8e8e8;
  font-size: 1rem;
  font-weight: 400;
  max-width: 1220px;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding:1.2rem 0.8rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1b182b;
  z-index: 50;
}
.logo{
  font-size: 1.4rem;
  font-weight: 600;
  color: #e8e8e8;
  text-decoration: none;
  padding-left: 0.5rem;
}
.logo:hover{
  color: #0d6efd;;
}
.logo span{
  color: #fa5353;
}
.icons{
  display: flex;
  padding-right: 1rem;
}
.bars{
  display: flex;
  z-index: 5;
}
.icon-container{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #21232b;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
  cursor: pointer;
}
.bars{
  font-size: 20px;
}
.bell{
  position:relative
}
.bell-circle{
  width: 8px;
  height: 8px;
  background-color: #fa5353;
  border-radius: 50%;
  position: absolute;
  top: 1.5rem;
  right:11.5rem;
}
.items{
  display: none;
}
.active{
  display: block;
  width: 100%;
}
.unordered{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: #00000ee6;;
  height: 100vh;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;

  }
.unordered img{
  width: 500px ;
  height: 500px;
  margin-left: 7rem;
}
.unordered ul{
  list-style-type: none;
  font-weight: 400;
  font-size: 1.5rem;

}
.unorderedlist li a{
  text-decoration: none;
  color: #e8e8e8;
}
.unorderedlist{
  text-align: right;
  margin-right: 3rem;
  padding: 0.5rem;

}
.unorderedlist li{
  padding: 1rem;
}
.notificationContainer{
  display: relative;
}
.notificationdropdown{
  position: absolute;
  top: 4rem;
  right:5rem;
  width:20rem;
  border-radius: 10px;
 background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(./f2.jpg) no-repeat;
background-position: center;
background-size: cover;
object-fit: cover;
display: flex;
flex-direction: column;
gap: 1.5rem;
padding: 1rem;
}
.message{
  background-color: #1b182b;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  color: #e8e8e8;
}
.declined, .check{
  font-size: 13px;
  margin-right: 1.5rem;
}
.declined{
  color: red;
}
.check{
  color: #faf182;
}
.homeContainer{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  width: 97%;
  height: 500px;
  background: url(./c2.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  border-radius: 25px;
  margin-top: 5rem;
}
.homeimagewords{
  text-transform: uppercase;
  margin-right: 40px;
  
}
.homeimagewords h1{
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 2.2rem;
  line-height: 1.5;
  font-weight: 500;
}
.homeContainer button{
  padding: 10px 20px;
  background-color: #fa5353;
  border-radius: 15px;
  outline: none;
  border: none;
  text-align: center;
  text-transform: uppercase;
  color: #e8e8e8;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
}
.homeContainer button:hover{
  background-color: #1b182b;
  color: #21232b;
}
.trendsheader{
  display: flex;
  text-align: center;
  align-items: center;
  gap:1rem;
  margin-left: 1.5rem;
}
.fire{
  width: 20px;
  height: 20px;
}
.firecontainer{
  background-color: #fa5353;
}
.trendsdatamap{
  /* border: 1px solid yellow; */
  padding: 1rem;
  max-width: 1220px;
  display: flex;
  gap: 1rem;
  width: 100%;
  /* overflow: hidden; */
}
.individual{
  position: relative;
  width: 200px;
  height: 300px;
  margin: 0 auto;
}
.individual img{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 200px;
  height: 100%;
  object-fit: cover;
  vertical-align: center;
}
.imageoverlay{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  color: #fff;
  background-color: #2c2f3acc;
  height: 95px;
  width: 90%;
  border-radius: 5px 5px 0 0;
  backdrop-filter: blur(4px);
  padding: 10px;
}
.imageoverlay h2, h3{
  margin: 0;
  font: 500;
  line-height: 1.2;
  font-size: 1rem;
  padding-bottom: 0.5rem;
}
.freenftmap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.freenftindividual{
  width: 250px;
  height: 300px;
  position: relative;
  margin-bottom: 1rem;
}
.freenftindividual img{
  width: 100%;
  height: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  object-fit: cover;
  vertical-align: center;
}
.overlay2{
  padding:13px;
}
.ratings{
  display: flex;
  justify-content: space-between;
}
.ratingcont{
  background-color: green;
  border-radius: 5px;
  font-size: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}
.ratingsdownload{
  background-color: green;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}














